<main class="home">
  <article>
    <h2>¿Qué es Chicas Programando?</h2>
    <p>Somos una comunidad que busca hacer más diversos los proyectos en tecnología, abriendo espacios de capacitación y creando una plataforma para visibilizar talento tecnológico de mujeres y personas no binarias.</p>
  </article>
  <article>
    <h2>¿Qué hace Chicas Programando?</h2>
    <p>Organizamos meetups y workshops con el objetivo de acercar conocimientos y generar espacios de debate con y para la comunidad.</p>
    <p>Chicas Programando trabaja, a su vez, en una plataforma en la cual todas las mujeres y personas no binarias podrán cargar cargar su perfil con el fin de ser visualizadas para búsquedas laborales y presentar los proyectos en los que estén trabajando.</p>
  </article>
  <article class="form">
    <h2>¿Querés dar una charla y/o workshop?</h2>
    <p>Completá el formulario y nos pondremos en contacto cuando creemos un evento que se ajuste a la temática:</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvnrDN9wpj0c_ugsMKH7RTR-RKCC4pxS3uTflfFbtA3GAHwg/viewform" target="_blank">Ir al formulario</a>
  </article>
  <article class="contact">
    <div>
      <h3>Contacto</h3>
      <span>Podés comunicarte con nosotras a través de:</span>
    </div>
    <div class="icon">
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=chicasprogramando@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
      <a href="https://twitter.com/ChicasProgAR" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/chicasprogramando/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/chicasprogramando/" target="_blank"><i class="fab fa-github-alt"></i></a>
      <a href="https://www.linkedin.com/company/35667606/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </article>
</main>