<main class="home">
  <article class="home__main-img-container">
    <img src="/img/chicas-programando.jpg" alt="chicas-programando-slider-photo">
  </article>
  <section class="home__cards-section">
    <a class="home__card-item">
      <div class="home__card-item-img-container">
        <img src="/img/eventos.jpeg" alt="">
      </div>
      <div class="home__card-item-description-container">
        <h3>Eventos</h3>
        <p>Te contamos sobre las charlas y los workshops que organizamos en la comunidad</p>

        <div class="poligon"></div>
      </div>
    </a>
    <a class="home__card-item">
      <div class="home__card-item-img-container">
        <img src="/img/blog.jpg" alt="">
      </div>
      <div class="home__card-item-description-container">
        <h3>Blog</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>

        <div class="poligon"></div>
      </div>
    </a>
  </section>
  <section class="home__information-section">
    <article>
      <h2>¿Qué es Chicas Programando?</h2>
      <p>Somos una comunidad que busca hacer más diversos los proyectos en tecnología, abriendo espacios de capacitación y creando una plataforma para visibilizar talento tecnológico de mujeres y personas no binarias.</p>
    </article>
    <article>
      <h2>¿Qué hace Chicas Programando?</h2>
      <p>
        Organizamos meetups y workshops con el objetivo de acercar conocimientos y generar espacios de debate con y para la comunidad.
        <br>
        Chicas Programando trabaja, a su vez, en una plataforma en la cual todas las mujeres y personas no binarias podrán cargar cargar su perfil con el fin de ser visualizadas para búsquedas laborales y presentar los proyectos en los que estén trabajando.
      </p>
    </article>
    <article class="form">
      <h2>¿Querés dar una charla y/o workshop?</h2>
      <p>Completá el formulario y nos pondremos en contacto cuando creemos un evento que se ajuste a la temática:</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvnrDN9wpj0c_ugsMKH7RTR-RKCC4pxS3uTflfFbtA3GAHwg/viewform" target="_blank">Ir al formulario</a>
    </article>
  </section>
  <section class="home__contact-section">
    <article class="contact">
      <div>
        <h3>Contacto</h3>
        <span>Podés comunicarte con nosotras a través de:</span>
      </div>
      <div class="icon">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=chicasprogramando@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        <a href="https://twitter.com/ChicasProgAR" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/chicasprogramando/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCxYvz2LWEKgCKjou62W3isw" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://github.com/chicasprogramando/" target="_blank"><i class="fab fa-github-alt"></i></a>
        <a href="https://www.linkedin.com/company/35667606/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </article>
  </section>
</main>